:root {
  font-family: Arial, sans-serif;

  background-image: url('./assets/background.png');
  background-size:cover;
  background-position:center;

  margin: 0;
  padding: 0;
  background-color: #f5edfc; 
  color: #4b0082; 
}